@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #14161f;
    font-family: "Montserrat", sans-serif;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-roboto font-bold;
  }
  button {
    @apply font-semibold font-roboto;
  }
  .btn {
    @apply px-12 py-1 border-black border-[1px] rounded-[50px] text-black;
  }
  .btn-yellow {
    @apply btn bg-yellow-100  hover:bg-yellow-200;
  }
  .scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
  input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
  }
}

@layer utilities {
}
